 /* Custom CSS */
 body{
  background-color:#FAEBD7
 }
 /* navbar custom css */
 
 .navbar-custom {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
  .carousel-item {
    height: 100vh;
  }
  .gallery-item img {
    border-radius: 10px; 
    width: 100%;
    height: auto;
  }
  .nav-link{
    color:  #fd7e14;
  }
  .shu-pho{
    padding-left: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    color: #fd7e14;
    
  }
.wed-pho{
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wed-pho2{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  .background-image {
    background-image: url('./images/image31.jpg');
    background-size: cover;
    background-position: center;
    margin-top: -290px;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
  }
  .background-image h4{
    margin-top: 80px;
    width: 500px;
    height: 200px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .text-container {
    max-width: 800px;
    margin: 0 auto;
  }
 #text-color{
    font-family: "Audiowide", sans-serif;
    color: tomato;
    margin-top: 55px;
  }
  #se-text{
      font-family: "Trirong", serif;
      margin-top: 30px;
    padding-bottom: 50px;
      font-size: 15px;
      line-height: 25px;
      font-weight: 500;
  }
  
/* Custom styles for the image slider */
.carousel-item img {
  margin-top: -200px;
  max-height: 100vh; /* Adjust the max-height as needed */
  width: auto;
  margin: 0 auto;
 } /* Cente
 /* image guide */
 .image-card {
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.image-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.image-details {
  padding: 20px;
  background-color: #f8f9fa;
}

.image-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.image-description {
  color: #666;
  font-size: 1rem;
}

/*  */
.photo-section {
  padding: 100px;
  background-color:transparent
}

.photo {
  margin-top: -50PX;
  width: 100%;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9);
}

.text-section h2{
  
  font-family: "Allerta Stencil", Sans-serif;
 
  font-weight: 500;
  font-size:  50px;
  padding-top: 100px;
}
.text-section p{
  padding-top: 20px;
  
  font-size: 20px;
  line-height: 40px;
}
.photo-section2{
  /* padding: 50px; */
  background-color:transparent
}
.photo2{
  width: 100%;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0,0.9);
}
.text-section2 h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.text-section2 p{
  padding-top: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 40px;
}
.fot-er{
  padding-top: 100px;
}


@media only screen and (max-width: 680px) {
  .img-gal{
    margin-top:-400px;
  }
  .pho-text{
    margin-top:-420px;
  }
  .text-section{
    margin-top: -170PX;
  }
}


